.list-item {
    width: 50%;
    margin: 16px auto;
    border:1px solid #eee;
    box-shadow:0 2px 3px #ccc;
    padding: 16px;
    text-align: left;
    word-break: break-all;
    background-color: white;
}

.item-description{
    font-size: 1.5em;
    color: black;
    font-weight: 400;
}

.fa-color-green{
    color: #7ab37a;
}

.fa-color-grey{
    color: grey;
}

.clickable{
    cursor: pointer;
}

.list-item-active{
    opacity: 1;
}

.list-item-completed{
    opacity: 0.8;
}